@charset "utf-8";
/* CSS Document */

/*............................Reset...........................*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
}
body {
	behaviour:url("/javascripts/csshover3.htc");    
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/*............................End Reset............................*/

a:link {
	color:#CCCCCC;
	text-decoration: none;
}
a:visited {
	color:#999999;
	text-decoration: none;
}
a:hover {
	color:#666666;
	text-decoration: underline;/*background:#333333;*/
}
a:active {
	text-decoration: none;
}
body {
	font: 14px Calibri, Arial, Tahoma, verdana;
	background: #000000 url(/images/bg_site6.jpg) repeat-y center;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}

.common #wrapper {
	width: 960px;
	/*height:100%; */ 
	background: #ffffff;
	margin: auto;
	/*	border: 1px ridge #990000;*/
	text-align: left;
}
.common #container {
	/*margin-top:80px;*/
	width: 960px;
	/*height:100%; */ 
	background: #FFFFFF;/*	background: #FFFFFF url(/images/f_reel.jpg) no-repeat bottom right;*/
}
.common #header {
	background: #660000;
	width: 960px;
	margin: 0px auto;
}
.common #header2 {
	background:#000000 url(/images/bg_red.jpg) repeat-x top;
	width: 960px;
}
.common #header h1 {
	margin: 0;
	padding: 10px 0;
}
.common #sidebar1 {
	float: left;
	width: 22%;
	background: #EBEBEB;
	padding: 15px 0;
}
.common #sidebar2 {
	float: right;
	width: 23%;
	background: #EBEBEB;
	padding: 15px 0;
}
.common #sidebar1 p, .common #sidebar1 h3, .common #sidebar2 p, .common #sidebar2 h3 {
	margin-left: 10px;
	margin-right: 10px;
}
.common #mainContent {
	margin: 0 24% 0 23.5%;
}
.common #footer {
	width:960px;
	height:120px;
	background:#333333;
}
.common #footer2 {
	float:left;
	text-align:center;
	height:80px;
	background:#333333;
}
#footer2 ul{
	padding-top:6px;
	text-align:center;
}
#footer2 ul li{
	list-style:none;
    list-style-type:none;
	display:inline;
	margin-left:10px;
}
#footer2 ul li a img{
	border:1px solid #333333;
}
#footer2 ul li a img:hover{
	border:1px dashed #999999;
}

.common #footer p {
	margin: 0;
	padding: 10px 0;
}
/******************************************************/

.fltrt {
	float: right;
	margin-left: 8px;
	margin-right: 0px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0px;
	line-height: 0px;
}
/**************************overrides****************************/

p {
	font-size:12px;
	text-indent:18px;
	line-height:20px;
	padding-left:8px;
	padding-right:8px;
	text-align:justify;
	color:#000000;
}
.pheadings {
	line-height:30px;
	font-size:12px;
	font-weight:bold;
	text-indent:2px;
	color:#FFFFFF;
	background:url(/images/p_main_heading.jpg) no-repeat 0px 0px;
	height:43px;
}

/************************  events  ***************************/
.pheadings_com {
	width:200px;
	margin:auto;
	border:2px solid #333333;
	height:180px;
	cursor:pointer;
}


.pheadings_white {
	/*	line-height:28px;
	font-size:14px;
	font-weight:bold;
	color:#000000;*/
	border:2px solid #333333;
	width:260px;
	margin:auto;
	margin-right:0px;
	background:#999999 url(/images/heatwave.jpg) no-repeat;
	height:220px;
}
.pheadings_white:hover {
	/*	line-height:28px;
	font-size:14px;
	font-weight:bold;
	color:#000000;*/
	background:#999999 url(/images/heatwaveh.jpg) no-repeat;
	height:220px;
	cursor:pointer;
}


.pheadings_ig {
	margin:auto;
	margin-right:0px;
	border:2px solid #333333;
    width:200px;
    background:#999999 url(/images/ig_night_event/ig_night_front.jpg) no-repeat;
    height:180px;
}
.pheadings_ig:hover {

    background:#999999 url(/images/ig_night_event/ig_night_fronth.jpg) no-repeat;
    height:180px;
    cursor:pointer;
}

.pheadings_ow {
	width:200px;
	margin:auto;
	margin-left:25px;
	border:2px solid #333333;
	background:#999999 url(/images/out_work/outwork_front.jpg ) no-repeat;
	height:180px;
}
.pheadings_ow:hover {
	background:#999999 url(/images/out_work/outwork_fronth.jpg ) no-repeat;
	height:180px;
	cursor:pointer;
}

.pheadings_bn {
	width:200px;
	margin:auto;
	border:2px solid #333333;
	background:#999999 url(/images/bank_night/bankers_night.jpg ) no-repeat;
	height:180px;
}
.pheadings_bn:hover {
	background:#999999 url(/images/bank_night/bankers_nighth.jpg ) no-repeat;
	height:180px;
	cursor:pointer;
}

.pheadings_pk {
	width:200px;
	margin:auto;
	margin-right:0px;
	border:2px solid #333333;
	background:#999999 url(/images/pure_kink/pure_kink_front.jpg ) no-repeat;
	height:180px;
}
/*.pheadings_pk:hover {
	background:#999999 url(/images/pure_kink/pure_kink_fronth.jpg ) no-repeat;
	height:180px;
	cursor:pointer;
}*/

.pheadings_ss {
	width:200px;
	margin:auto;
    margin-right:1px;
	border:2px solid #333333;
	background:url(/images/sweetnsexy_event/sweetnsexy_front.jpg ) no-repeat;
	height:180px;
}
.pheadings_ss:hover {
	background:url(/images/sweetnsexy_event/sweetnsexy_fronth.jpg ) no-repeat;
	height:180px;
	cursor:pointer;
}

.pheadings_fp {
	width:200px;
	margin:auto;
    margin-left:8px;
	border:2px solid #333333;
	background:url(/images/fp_event/fp_front.jpg ) no-repeat;
	height:180px;
}
.pheadings_fp:hover {
	background:url(/images/fp_event/fp_fronth.jpg ) no-repeat;
	height:180px;
	cursor:pointer;
}

.pheadings_rnw {
	
	width:200px;
	margin:auto;
	margin-right:20px;
	border:2px solid #333333;
	background:#999999 url(/images/rnw_event/ledgens_front.jpg ) no-repeat;
	height:180px;
}
.pheadings_rnw:hover {

	background:#999999 url(/images/rnw_event/ledgens_fronth.jpg ) no-repeat;
	height:180px;
	cursor:pointer;
}

.event_img {
	
	width:200px;
	margin:auto;
	border:2px solid #333333;
	height:180px;
}
.event_img:hover {

	height:180px;
	cursor:pointer;
}



/************************ events end  ***************************/

.top {
	height:50px;
	background:url(/images/m_top.png) no-repeat;
}
.mid {
	background:url(/images/m_mid.jpg) repeat-y;
}
.bot {
	height:50px;
	background:url(/images/m_bot.png) no-repeat;
}
/*table{
	font-size:11px;
	text-align:center;
	
	
}

table td{
	border:1px solid #FFFFFF;
	
	
}
*/

.available {
	border:1px solid #999999;
	background:#00cc33;
}
.test {
	border:1px solid #999999;
	background:#3333CC;
}
.disabled {
	border:1px solid #FFFFFF;
	background:#FFFFFF;
}
#footerlinks {
	/*margin:5px 0px 0px 0px;*/
	padding:10px 0px 0px 0px;
	font-size:11px;
}
#credit {
	color:#666666;
	font-size:10px;
	text-align:center;
	padding-top:4px;
	padding-left:0px;
}
.content_holderl {
	float:left;
	width:300px;
	font-size:12px;
	color:#999999;
	margin:15px;
	*margin:5px;
	padding:0px;
	overflow:hidden;
}
.content_holderr {
	float:left;
	width:300px;
	font-size:12px;
	color:#999999;
	margin:15px 0px 15px 15px;
	padding:0px;
	overflow:hidden;
}
.content_holderr #signup {
	height:84px;
	background:url(/images/signup.jpg) no-repeat;
}
.content_holderr #signup:hover {
	background:url(/images/signuph.jpg) no-repeat;
	cursor:pointer;
}
/*.content_holderr div{
	width:275px;
	height:212px;
	background:url(/images/first_time_bg.jpg) no-repeat;
}*/
.content_holderc {
	float:left;
	width:280px;
	font-size:12px;
	color:#333333;
	margin:15px 0px;
	padding:8px;
	overflow:hidden;
}
/************************   h  ***************************/
.content_holder_h {
	font-size:12px;
	background:#FFFFFF;
	color:#999999;
	margin:15px 0px;
	padding:0px;
	overflow:auto;
}
.content_holder_h div {
	font-size:11px;
	line-height:16px;
	text-align:justify;
	color:#999999;
	margin:15px 4px;
}
.content_holder_h p {
	color:#666666;
	background:#ffdea6;
	margin:2px 8px;
}
.content_holder_h p:hover {
	font-weight:bold;
	cursor:pointer;
	background:#FFA812;
	margin:2px 6px;
}
/*****************************************************/


/***********************   m  ****************************/
#scrolling_container {
	overflow-x:hidden;
	overflow-y:auto;
	height:340px;
	margin:0px 8px;
	background:url(/images/scroll_bg.jpg) repeat-x;
}
#scrolling_container2 {
	overflow-x:hidden;
	overflow-y:auto;
	height:340px;
	margin:0px 8px;
	background:#FFFFFF;
}
.content_holder_m {
	font-size:12px;
	background:#FFFFFF;
	color:#999999;
	margin:15px 0px;
	overflow:hidden;
}
.content_holder_m div {
	float:none;
	font-size:14px;
	line-height:16px;
	text-align:left;
	color:#999999;
	margin:15px 4px;
}
.content_holder_m p {
    text-indent:0px;
    line-height:14px;
    font-weight:bold;
    color:#FFFFFF;
    background:#333333 url(/images/arrow.png) no-repeat -6px;
    padding:2px 4px;
    padding-left:24px;
    margin-top:4px;
}
.content_holder_m p:hover {
   cursor:pointer;
    background:#660000 url(/images/arrow.png) no-repeat 2px;
}
.content_holder_m #content {
	color:#000000;
    text-align:left;
    font-size:12px;
    font-weight:lighter;
    margin:2px 3px;
}
.content_holder_m #content2 {
	color:#660000;
	font-size:14px;
	font-weight:bold;
	margin:2px 3px;
}
.content_holder_m img {
	background:#FFA812;
	margin:0px 8px 8px 8px;
	border:2px solid #FFFFFF;
}
.content_holder_m table td {
	vertical-align:top;
}
/*****************************************************/

.img_container {
	float:left;
	width:300px;
	background:#FFFFCC;
	font-size:12px;
	color:#999999;
	margin:10px;
	padding:5px;
	border:1px dashed #ff7373;
}
.description_container {
	float:right;
	width:536px;
	/*background:#FFFFCC;*/
	font-size:12px;
	color:#999999;
	margin:10px;
	padding:5px;/*	border:1px dashed #ff7373;*/
}
.nowshowing_container {
	float:left;
	width:300px;
	background:#FFFFCC;
	font-size:12px;
	color:#999999;
	margin:10px;
	padding:5px;
	border:1px dashed #ff7373;
}
.comingsoon_container {
	float:right;
	width:536px;
	/*background:#FFFFCC;*/
	font-size:12px;
	color:#999999;
	margin:10px;
	padding:5px;/*	border:1px dashed #ff7373;*/
}
.nowshowing_container table td {
	padding:5px;
	border:1px solid #FFFFcc;
}
.dload_container {
	float:right;
	width:536px;
	background:#FFFFCC;
	font-size:12px;
	color:#999999;
	margin:10px;
	padding:5px;
	border:1px dashed #ff7373;
}
.dload_container table {
	width:100%;
}
.dload_container table td {
	font-size:11px;
	color:#999999;
	padding:2px 0px 0px 4px;
}
.dload_container img {
	border:2px solid #999999;
}
.dload_container img:hover {
	border:2px solid #000000;
}
.comingsoon_container img {
	border:2px solid #999999;
}
.comingsoon_container img:hover {
	border:2px solid #000000;
	cursor:pointer;
}
.msg_screen {
	background:#FFFFCC;
	font-size:12px;
	color:#999999;
	margin:20px;
	padding:5px;/*border:1px dashed #ff7373;*/
}
.msg span {
	font-size:12px;
	font-weight:bold;
	color:#666666;
}
.msg table {
	font-size:11px;
	color:#666666;
	border:none;
}
.msg table td {
	font-size:12px;
	color:#666666;
	padding:4px;
}
/******************************************************/
#menubar_div {
	padding:4px;
	margin:4px;/*background:#292924;*/
}
#searchbar_div {
	float:left;
	padding-top:8px;/*margin:4px;*/
	/*background:#292924;*/
}
#searchbar_div input #sinput {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	width:200px;
	padding:2px 8px;
	background:url(/images/searchbar_bg.jpg) repeat-x;
	border:1px solid #FFFFFF;
}
#searchbar_div input #sbtn {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	padding:2px;
	border:1px solid #FFFFFF;
}
#searchico_div {
	height:48px;
	width:45px;
	background:url(/images/search_ico.png) no-repeat;
	z-index:100;
}
#searchico_div:hover {
	height:48px;
	width:45px;
	background:url(/images/search_icoh.png) no-repeat;
	/*	margin-top:0%;
	margin-left:2%;*/
	cursor:pointer;
}
#slidebar_div {
	padding:4px;
	margin:4px;/*background:#292924;*/
}
#controllers_div legend {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	color:#999999;
	background:#333333;
}
#controllers_div legend span {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	font-weight:bold;
	color:#ff7c00;
	background:#333333;
}
#controllers_div div {
	color:#CCCCCC;
}
/******************************************************/
#select_movie_hdiv {
	padding:40px 4px 4px 4px;
	margin:4px 4px 4px 140px;/*background:#292924;*/
}
#select_movie_hdiv legend {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	color:#999999;
	background:#333333;
}
#select_movie_hdiv legend span {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	font-weight:bold;
	color:#ff7c00;
	background:#333333;
}
#select_movie_hdiv div {
	color:#CCCCCC;
}
/******************************************************/
#select_theatre_hdiv {
	padding:40px 4px 4px 4px;
	margin:4px 4px 4px 140px;/*background:#292924;*/
}
#select_theatre_hdiv legend {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	color:#999999;
	background:#333333;
}
#select_theatre_hdiv legend span {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	font-weight:bold;
	color:#ff7c00;
	background:#333333;
}
#select_theatre_hdiv div {
	color:#CCCCCC;
}
/******************************************************/
#controllers {
	padding:8px;
	margin:8px;
	border:1px dashed #666666;
}
#controllers table {
	font-size:14px;
	width:100%;
}
#controllers table td {
	background:none;
	border:none;
	padding:4px;
}
#controllers table select {
	font-size:14px;
	background:#e5e5e5;
	color:#666666;
	padding:none;
	border:1px solid #FFFFFF;/*	height:20px;*/
}
#controllers table input {
	font-size:14px;
	background:#e5e5e5;
	color:#666666;
	border:1px solid #FFFFFF;/*	height:20px;*/
}
#payments {
	padding:4px;/*background:#292924;*/
	/*border-top:1px solid #666666;*/
}
#payments legend {
	font: 12px Tahoma, Arial, verdana, "trebuchet MS";
	color:#000000;
	background:none;
}
#payments div span {
	font: 12px Tahoma, Arial, verdana, "trebuchet MS";
	font-weight:bold;
	color:#000000;/*background:#333333;*/
	
}
#payments div {
	font: 12px Tahoma, Arial, verdana, "trebuchet MS";
	color:#000000;
	padding:4px 0px 0px 120px;
}
.h_devide {
	float:left;
	height:32px;
	width:1px;
	margin:10px;
	background:#999999;
}
.h_spacer {
	height:1px;
	margin:0px 100px;
	background:#666666;
	padding:1px;
	border-top:2px dashed #999999;
}
.h_spacer_w {
	height:16px;
	margin:0px 100px;
	padding:1px;
}
.generic_btn {
	font-family:Tahoma, Arial, verdana, "trebuchet MS";
	font-size:12px;
	font-weight:bold;
	color:#000000;
	background:#FF6633 url(/images/btn_bg_yellow.jpg);
	border:1px solid #FF9900;
	height:24px;
}
.generic_btn:hover {
	color:#FFFFFF;
	background:#0099FF url(/images/btn_bg_yellowh.jpg);
	border:1px solid #000000;
	cursor:pointer;
}
.grad {
	background:url(/images/bg_pay.jpg) no-repeat center;/*border:1px solid #FF9900;*/
}
#screen_txt {
	color:#000000;
	background:url(/images/grad_yellowv.jpg) repeat-y center;
}
/***************************************************/
.selected_movie_image_l {
	width:200px;
	height:300px;
	margin:4px auto;
}
.selected_movie_image_l img {
	border:2px solid #999999;
}
.selected_movie_image_l img:hover {
	border:2px solid #000000;
	cursor:pointer;
}
/***************************************************/
.selected_theatre_image_l {
	width:200px;
	height:150px;
	margin:4px auto;
}
.selected_theatre_image_l img {
	border:2px solid #999999;
}
.selected_theatre_image_l img:hover {
	border:2px solid #000000;
	cursor:pointer;
}
/***************************************************/

#reserve_btn {
	margin:0px auto;
	background:url(/images/reserve_btn.jpg) no-repeat center;
	height:55px;
	width:164px;
}
#reserve_btn:hover {
	background:url(/images/reserve_btnh.jpg) no-repeat center;
	cursor:pointer;
}
#select_theatre {
	margin:4px auto;
}
#select_theatre select {
	font-size:14px;
	background:#e5e5e5;
	color:#666666;
	border:1px solid #666666;
}
#pagelink:link {
	font-size:11px;
	color:#660000;
	text-decoration: none;
}
#pagelink:visited {
	color:#999999;
	text-decoration: none;
}
#pagelink:hover {
	color:#ff9002;
	text-decoration: underline;/*background:#333333;*/
}
#pagelink:active {
	text-decoration: none;
}
#logo {
	position:absolute;
	height:94px;
	width:260px;
	margin-left:-45px;
	background:url(/images/site_logo_new.png) no-repeat;
	top: 0px;/*	margin-right:70%;*/
	/*margin-left:15%;*/
}
#now_showing_h {
	background:url(/images/nowshowing_head.jpg) no-repeat;
	height:26px;
}
#reserve_btn_small {
	border:0px;
	width:60px;
	height:26px;
	background:url(/images/booknow_btn.png) no-repeat center;
}
#reserve_btn_small:hover {
	background:url(/images/booknow_btnh.png) no-repeat center;
	cursor:pointer;
}
#trailer_btn_small {
	border:0px;
	width:60px;
	height:26px;
	background:url(/images/trailer_btn.png) no-repeat center;
}
#trailer_btn_small:hover {
	background:url(/images/trailer_btnh.png) no-repeat center;
	cursor:pointer;
}
#view_btn_small {
	width:100px;
	height:29px;
	background:url(/images/view_btn.jpg) no-repeat center;
}
#view_btn_small:hover {
	background:url(/images/view_btnh.jpg) no-repeat center;
	cursor:pointer;
}
/*-------------------------------menu bar ---------------------------*/
#left_header {
	width:960px;/*	height:300px;*/
}
.hovermenu {
	float:none;
	margin:0px auto;
	height:10px;
}
.hovermenu div {
	float:right;
	width:201px;
	height:55px;
}
.hovermenu #moviediv {
	background:url(/images/mb_movies.jpg) no-repeat;
}
.hovermenu #playsdiv {
	background:url(/images/mb_plays.jpg) no-repeat;
}
.hovermenu #concertsdiv {
	background:url(/images/mb_concerts.jpg) no-repeat;
}
.hovermenu #myticketsdiv {
	background:url(/images/mb_tickets.jpg) no-repeat;
}
.hovermenu #moviediv:hover {
	background:url(/images/mb_moviesh.jpg) no-repeat;
	cursor:pointer;
}
.hovermenu #playsdiv:hover {
	background:url(/images/mb_playsh.jpg) no-repeat;
	cursor:pointer;
}
.hovermenu #concertsdiv:hover {
	background:url(/images/mb_concertsh.jpg) no-repeat;
	cursor:pointer;
}
.hovermenu #myticketsdiv:hover {
	background:url(/images/mb_ticketsh.jpg) no-repeat;
	cursor:pointer;
}
/*-------------------------------end menu bar ---------------------------*/


/***************************** now-showing banner *******************************/

#now_showing_banner {
	text-align:right;
	height:60px;
	background:url(/images/nowshowing_banner.png) left bottom no-repeat;
}
.sinput {
	font: 14px Tahoma, Arial, verdana, "trebuchet MS";
	width:200px;
	background:url(/images/searchbar_bg.jpg) repeat-x;
	border:1px solid #FFFFFF;
}
.sbtn {
	border:none;
	width:60px;
	height:50px;
	background:url(/images/go_img.png) no-repeat;
}
.sbtn:hover {
	background:url(/images/go_img_h.png) no-repeat;
	cursor:pointer;
}
#movie_container {
	margin:0px auto;
	/*padding:2px 0px;*/
}
#movie_container table {
	font:11px Tahoma, Arial, verdana, "trebuchet MS";
	vertical-align:middle;
	font-weight:bold;
	color:#CCCCCC;
}
.movie_btns {
	width:100px;
	height:147px;
	border:2px solid #FFFFFF;
}
.movie_btns:hover {
	border:2px solid #000000;
	cursor:pointer;
}
.login {
	float:left;
	height:40px;
	width:129px;
	background-image: url(/images/login.png);
	margin-top:80px;
}
.signup {
	float:left;
	height:40px;
	width:129px;
	background-image: url(/images/signup.png);
	margin-top:80px;
}
.login:hover {
	float:left;
	height:40px;
	width:129px;
	background-image: url(/images/loginh.png);
	cursor:pointer;
}
.signup:hover {
	float:left;
	height:40px;
	width:129px;
	background-image: url(/images/signuph.png);
	cursor:pointer;
}
/*****************************        end            *******************************/

