
@charset "utf-8";
/* CSS Document */

/*............................Reset...........................*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {

	border-collapse:collapse;
	border-spacing:0;
}

/*............................End Reset............................*/

a:link {
	color:#999999;
	text-decoration: none;
}
a:visited {
	color:#666666;
	text-decoration: none;
}
a:hover {
	color:#666666;
	text-decoration: underline;
	/*background:#333333;*/
}
a:active {
	text-decoration: none;
}

body  {
	font: 14px Calibri, Arial, Tahoma, verdana;
	background: #000000 url(/images/bg_site6.jpg) repeat-y center;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}
.common #wrapper { 
	width: 960px;
	/*height:100%; */ 
	background: #FFFFFF;
	margin: 0px auto; 
/*	border: 1px ridge #990000;*/
	text-align: left; 
} 
.common #container { 
	width: 900px;
	/*height:100%; */ 
	background: #FFFFFF;
	margin: 8px auto; 
	padding: 8px auto; 
/*	border: 1px ridge #990000;*/
	text-align: left; 
} 
.common #header { 
	background: #660000 ;
	width: 960px;
	height: 140px; 
	padding-bottom:4px;
	margin: 8px auto; 
	margin-top:0px;
	
} 
.common #header h1 {
	margin: 0; 
	padding: 10px 0; 
}

.common #sidebar1 {
	float: left; 
	width: 22%; 
	background: #EBEBEB; 
	padding: 15px 0; 
}
.common #sidebar2 {
	float: right; 
	width: 23%; 
	background: #EBEBEB; 
	padding: 15px 0; 
}
.common #sidebar1 p, .common #sidebar1 h3, .common #sidebar2 p, .common #sidebar2 h3 {
	margin-left: 10px; 
	margin-right: 10px;
}

.common #mainContent { 
	margin: 0 24% 0 23.5%; 
}

.common #footer { 
	width:960px;
	height:50px;
	background:#333333;
} 
.common #footer p {
	margin: 0px; 
	padding: 10px 0px; 
}

/******************************************************/

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


/**************************overrides****************************/

p{
	text-indent:32px;
	line-height:20px;
	padding-left:16px;
	padding-right:16px;
	text-align:justify;
}
.pheadings{
	line-height:26px;
	font-size:12px;
	font-weight:bold;
	text-indent:4px;
	color:#666666;
	background:url(/images/p_heading.jpg) no-repeat 0px 0px;
	height:43px;
}
/*table{
	font-size:11px;
	text-align:center;
	
	
}

table td{
	border:1px solid #FFFFFF;
	
	
}
*/

.available
{
	border:1px solid #999999;
	background:#00cc33;
}

.test
{
	border:1px solid #999999;
	background:#3333CC;
}

.disabled
{
	border:1px solid #FFFFFF;
	background:#FFFFFF;

}

#footerlinks{
	margin:5px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	font-size:11px;
}

#credit{
	color:#666666;
	font-size:10px;
	text-align:center;
	padding-top:4px;
	padding-left:44px;
}
.msg{
	background:#FFFFCC;
	font-size:12px; 
	color:#000000; 
	margin:20px; 
	padding:5px;
	/*border:1px dashed #ff7373;*/
}

.msg2{
	background:#FFFFFF;
	font-size:12px; 
	color:#000000; 
	margin:20px; 
	padding:5px;
	/*border:1px dashed #ff7373;*/
}

.img_container{
	float:left; 
	width:300px;
	background:#FFFFCC;
	font-size:12px; 
	color:#000000; 
	margin:10px; 
	padding:5px;
	border:1px dashed #ff7373;
}
.description_container{
	float:right; 
	width:536px;
	/*background:#FFFFCC;*/
	font-size:12px; 
	color:#000000; 
	margin:10px; 
	padding:5px;
/*	border:1px dashed #ff7373;*/
}
.nowshowing_container{
	float:left; 
	width:300px;
	background:#FFFFCC;
	font-size:12px; 
	color:#000000; 
	margin:10px; 
	padding:5px;
	border:1px dashed #ff7373;
}
.comingsoon_container{
	float:right; 
	width:536px;
	/*background:#FFFFCC;*/
	font-size:12px; 
	color:#000000; 
	margin:10px; 
	padding:5px;
/*	border:1px dashed #ff7373;*/
}
.nowshowing_container table td{
	padding:5px;
	border:1px solid #FFFFcc;
}
.dload_container{
	float:right; 
	width:536px;
	background:#FFFFCC;
	font-size:12px; 
	color:#000000; 
	margin:10px; 
	padding:5px;
	border:1px dashed #ff7373;
}
.dload_container table{
	width:100%;
}
.dload_container table td{
	font-size:11px; 
	color:#000000; 
	padding:2px 0px 0px 4px;
}
.dload_container img{
	border:2px solid #999999;
}

.dload_container img:hover{
	border:2px solid #000000;
}

.comingsoon_container img{
	border:2px solid #999999;
}

.comingsoon_container img:hover{
	border:2px solid #000000;
	cursor:pointer;
}
.msg_screen{
	background:#FFFFCC;
	font-size:12px; 
	color:#000000; 
	margin:20px; 
	padding:5px;
	/*border:1px dashed #ff7373;*/
}

.msg span{
	font-size:12px; 
	font-weight:bold;
	color:#666666; 
}
.msg table{
	font-size:11px; 
	color:#666666;
	border:none;
}
.msg table td{
	font-size:12px; 
	color:#666666;
	padding:4px;
}
/******************************************************/
#controllers_div{
	padding:4px;
	margin:4px;
	/*background:#292924;*/
}


#controllers_div legend{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	color:#000000;
	background:#333333;
	
}
#controllers_div legend span{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	font-weight:bold ;
	color:#ff7c00;
	background:#333333;
	
}
#controllers_div div{
	color:#CCCCCC;
	
}
/******************************************************/
#select_movie_hdiv{
	padding:40px 4px 4px 4px;
	margin:4px 4px 4px 140px;
	/*background:#292924;*/
}

#select_movie_hdiv legend{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	color:#000000;
	background:#333333;
	
}
#select_movie_hdiv legend span{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	font-weight:bold ;
	color:#ff7c00;
	background:#333333;
	
}
#select_movie_hdiv div{
	color:#CCCCCC;
	
}
/******************************************************/
#select_theatre_hdiv{
	padding:10px 4px 4px 4px;
	margin:4px 4px 4px 0px;
	float:right;
	width: 660px;
	/*background:#292924;*/
}

#select_theatre_hdiv legend{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	color:#ffffff;
	background:#660000;
	
}
#select_theatre_hdiv legend span{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	font-weight:bold ;
	color:#ff7c00;
	background:#333333;
	
}
#select_theatre_hdiv div{
	color:#ffffff;
	
}
#select_theatre_hdiv div a{
	font-size:12px;
	font-weight:bold;
	color:#FFB400;
	
}
#select_theatre_hdiv div a:hover{

	font-weight:bold;
	color:#ffffff;
	background:none;
	
}
/******************************************************/
#controllers{
	padding:8px;
	margin:8px;
	border:1px dashed #666666;
}

#controllers table{
	font-size:14px;
	width:100%;
}
#controllers table td{
	background:none;
	border:none;
	padding:4px;
	vertical-align:top;
}
#leg2{
	background:#FFFFCC;
	padding:0px 4px;
}

#controllers table select{
	font-size:14px;
	background:#f6f6f6;
	color:#666666;
	padding:none;
	border:1px solid #999999;
/*	height:20px;*/
}

#controllers table textarea{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	background:#f6f6f6;
	color:#666666;
	padding:none;
	border:1px solid #999999;
/*	height:20px;*/
}

#controllers div{
	padding:2px 16px;
	/*border:1px solid #999999;*/
/*	height:20px;*/
}

#controllers div span{
	font: 14px Tahoma, Arial, verdana, "trebuchet MS" ;
	font-weight:bold;
	color:#FFB400;
	padding:none;
	/*border:1px solid #999999;*/
/*	height:20px;*/
}


/*#controllers table input{
	font-size:14px;
	background:#e5e5e5;
	color:#666666;
	border:1px solid #FFFFFF;
/*	height:20px;
}*/

#payments{
	padding:4px;
	/*background:#292924;*/
	/*border-top:1px solid #666666;*/
}

#payments legend{
	font: 12px Tahoma, Arial, verdana, "trebuchet MS" ;
	color:#000000;
	background:none;
	
}
#payments div span{
	font: 12px Tahoma, Arial, verdana, "trebuchet MS" ;
	font-weight:bold ;
	color:#000000;
	/*background:#333333;*/
	
}
#payments div{
	font: 12px Tahoma, Arial, verdana, "trebuchet MS" ;
	color:#000000;
	padding:4px 0px 0px 120px;
	
}

.h_devide{
	float:left;
	height:32px;
	width:1px;
	margin:10px;
	background:#999999;
}
.h_spacer{
	height:1px;
	margin:0px 100px;
	background:#666666;
	padding:1px;
	border-top:2px dashed #999999;
}
.h_spacer_w{
	height:16px;
	margin:0px 100px;
	padding:1px;
}
.generic_btn{
	font-family:Tahoma, Arial, verdana, "trebuchet MS";
	font-size:12px;
	font-weight:bold;
	color:#000000;
	background:#FF6633 url(/images/btn_bg_yellow.jpg);
	border:1px solid #FF9900;

}

.generic_btn:hover{
	color:#FFFFFF;
	background:#0099FF url(/images/btn_bg_yellowh.jpg);
	border:1px solid #000000;
	cursor:pointer;
}
.generic_upload_btn{
	font-family:Tahoma, Arial, verdana, "trebuchet MS";
	font-size:14px;
	/*font-weight:bold;*/
	color:#666666;
	background:#f6f6f6;
	border:1px solid #999999;

}

#pagelink:link {
	font-size:11px;
	color:#660000;
	text-decoration: none;
}
#pagelink:visited {
	color:#000000;
	text-decoration: none;
}
#pagelink:hover {
	color:#ff9002;
	text-decoration: underline;
	/*background:#333333;*/
}
#pagelink:active {
	text-decoration: none;
}
/*
#logo{
	position:absolute;
	float:left;
	height:95px;
	width:160px;
	background:url(/images/ticketslk_logo.png) no-repeat;
		margin-right:70%;
	margin-left:15%;
}
*/

#logo {
    background:transparent url(/images/site_logo_new.png) no-repeat scroll 0 0;
    height:131px;
    margin-left:-60px;
    position:absolute;
    top:15px;
    width:300px;
}
/*.............................table.............................*/
#generic_table {
		border-top: 1px solid #666666;
		border-right: 1px solid #666666;
		border-bottom: 1px solid #666666;
	}

	#generic_table tbody tr td {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 11px;
	padding: 3px 8px;
	border-left: 1px solid #999999;
	}
	
	#generic_table tbody tr td a:hover{
		/*border-bottom: 2px solid #d9d9d9;*/
		background:#62c9ff;
	}
	
	#generic_table tr:hover {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 11px;
	padding: 3px 8px;
	border-left: 1px solid #999999;
	background:#eeeeee;
	}
	#generic_table thead tr {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	text-align:center;
	font-weight:bold;
	font-size: 12px;
	padding: 3px 8px;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	background:url(/images/bg.jpg) repeat-x;
	color:#666666;		
	}
	#generic_table thead tr:hover {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	text-align:center;
	font-weight:bold;
	font-size: 12px;
	padding: 3px 8px;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	background:url(/images/bg.jpg) repeat-x;
	color:#666666;		
	}
	
	#generic_table tbody tr.selected td {
		background-color: #e5e5e5;
		color: #333333;
		font-weight: bold;
	}
	
	.align_middle{
		vertical-align:middle;
		text-align:center;
	}
	.align_left{
		vertical-align:middle;
		text-align:left;
	}
	.align_right{
		vertical-align:middle;
		text-align:right;
	}
/*********************************************/



/*-------------------------------menu bar ---------------------------*/
.hovermenu {
	margin:0px auto;
	padding-right:20px;
	float:right;
	clear:both;
}
.hovermenu ul {
	font: bold 11px Tahoma, Verdana, "Trebuchet MS";
/*	padding-left: 0;
	margin-left: 0;*/
}
.hovermenu ul li {
	list-style: none;
	display: inline;
	text-align:center;
	
}
.hovermenu ul li a {
	width:120px;
	height:24px;
	/*padding: 4px 8px;*/
	text-decoration: none;
	float: right;
	color: #000000;
/*	background: #36393d;*/
	/*background: #565b61;*/
	background:url(/images/btn_bg_yellow_full.png) no-repeat;
/*	border: 1px solid #FFFFFF;*/
	margin: 0px 0px;
	padding: 4px 0px;
	text-align:center;
}
.hovermenu ul li a:hover {
	/*background: #44c2f1;*/
	/*background: url(/images/btn_bg_yellow.jpg);*/
	background:url(/images/btn_bg_yellow_fullh.png) no-repeat;
	color:#FFFFFF;
	/*border-style: outset;*/
}
html>body .hovermenu ul li a:active { 
/*only to NON IE browsers */
	/*border-style: inset;*/
}

/*-------------------------------end menu bar ---------------------------*/
#seatbooking_list{
    font-size:12px;
    border:1px solid #666666;
    
}

#seatbooking_list tr{
    font-size:11px;
    border-top:1px solid #666666;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
}

#seatbooking_list td{
    font-size:11px;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    
}

.bluelink,.bluelink:link,.bluelink:active{color: #16a5f1;}
.bluelink:hover,.bluelink:visited{color: #0000dd; background:none;}
