body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: Calibri, Arial, Tahoma, verdana;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 100%;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 20px;
  background: url(../images/error_ico.png) left no-repeat;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left:50px;
  text-indent:20px;
}
#infoExplanation {
  width: 100%;
  border: 1px solid #FF8C1A;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FFFFCC;
}

#infoExplanation h2 {
  text-align: left;
  text-indent:16px;
  font-weight: bold;
  padding: 5px 5px 5px 20px;
  font-size: 16px;
  margin: 2px;
  color: #800000;
  height:32px;
  background: url(../images/info_ico.png) left no-repeat;
}

#infoExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
  text-align: left;

}

#correctExplanation {
  width: 90%;
  border: 1px solid #0000FF;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #C6E2FF;
}

#correctExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  color: #0000FF;
}

#correctExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 20px;
  background: url(../images/correct_ico.png) left no-repeat;
}

