@charset "utf-8";
/* CSS Document */

.noprint
{
	
	display:none;
	margin:16px;
}
.noprint a
{
	font-size:16px;
	
	display:none;
	margin:16px;
}
.noprintdiv
{

	display:none;
	border-bottom:1px solid #999999;
	margin:4px 12px;
}
div{
 font-family: Arial;
 margin: 4px 8px;
 font-size: 12px;
 background-color: #FFFFFF;
 border: #191170 1px solid;
}
div h1{
 font-family: Arial;
 margin: 4px 4px 4px 4px;
 font-size: 18px;
 font-weight: bold;

}
div h2{
 font-family: Arial;
 margin: 4px 4px 4px 4px;
 font-size: 16px;
 font-weight: bold;
 border-bottom: #191170 2px solid;
}

#seatbooking_list2{
    font-size:12px;
    
}

#seatbooking_list2 tr{
    font-size:11px;

}

#seatbooking_list2 td{
    font-size:11px;
    border:1px solid #666666;
    padding:2px;
    
}

#strongfont{
    font-size:16px;
    padding:2px;
    text-align:left;
}

#vstrongfont{
    font-size:20px;
    padding:2px;
    font-weight: bold;
    text-align:left;
}

#cut{
    padding:6px;
    border:none;
    border-top:2px dashed #333333;    
}
#add{
    font-size:11px;
    text-align:center;
    padding:2px;
    border:none;  
}

#tablediv{
     font-family: Arial;
     margin: 2px auto;
     margin-bottom:16px;
     padding:4px;
     font-size: 12px;
     font-weight: 100;
     background:#F8F8F8;
     width:80%;
     border:1px dashed #666666;
}
#tabletr{
     font-family: Arial;
     padding:4px;
     font-size: 14px;
     font-weight: bold;
     background:#D8D8D8;
     text-align:center;
}
#tabletrh{
     font-family: Arial;
     padding:2px;
     font-size: 12px;
     font-weight: bold;
     text-align:center;
}
.table_header{
     font-family: Arial;
     padding:2px;
     font-size: 14px;
     font-weight: bold;
     text-align:left;
     border:none;
}