<html>
  <head>
    <title>
    </title>
    <script src="/javascripts/events_calendar_js/calendar_validation.js"></script>
  </head>
  <body>
    <h2>Update Calendar</h2>
    <div id="errorText" style="color:red"></div>
    <% form_tag('/calendars/edit/', {:onSubmit => 'return validate_update_cal();'}) do -%>
      <table>
        <tr>
          <td>
            Title:
          </td>
          <td>
            <%= text_field_tag("cal_title",@cal_title)%>
          </td>
        </tr>
        <tr>
          <td align="left" valign="top">
            Description:
          </td>
          <td>
            <%= text_area_tag("cal_summary",@calendars["cal_summary"],:size => "27%")%>
          </td>
        </tr>
        <tr>
          <td>
  
            <%= hidden_field_tag 'cal_id', @cal_id %>
          </td>
          <td align="right">
            <%= submit_tag 'Update' %>
          </td>
        </tr>

      </table>
    <% end -%>
  <%= link_to 'Back', "/calendars" %>
  </body>
</html>
