/* 
    Document   : show_time
    Created on : Apr 4, 2009, 2:29:25 AM
    Author     : asanga
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/


root { 
    display: block;

}

div#content{
    
   border:1px solid #987654; 
}
*/
div#teater_group_and_name{
    width:100%;
    float:left;
    border:1px solid #987654;
}

div#form{
    width:100%;
    float:left;
    border:1px solid #987654;
}

div#show_time_table{
   
    padding:8px 0 8px 0;
}

